<h2>Chicken Pot Pies</h2>
<h4>Makes <input class="makes-input" type="number" value="8"> servings</h4>
 <div class="us-round-thing">
   <button type="radio" name="round-thing"></button>
   <p>
     US
   </p>
 </div>
<div class="metric-round-thing">
  <button type="radio" name="round-thing"></button>
  <p>
    Metric
  </p>
</div>


{{outlet}}
